@use "../../../../../assets/variables" as *;
@use "../../../../../assets/colors" as *;

.card-img {
  width: $card-width;
  height: $card-height;
  display: block;
}

.halo {
  border: 4px solid gold;
  border-radius: 12px;
}



